@import './variables.css';

@font-face {
    font-family: mada;
    src: url('../fonts/Mada-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: mada, sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
    box-sizing: border-box;
    color: white;
}

section {
    background-color: var(--color-dark-purple);
}

strong {
    font-size: 22px;
}

a {
    text-decoration: none;
    color: white;
}

.neon-purple {
    text-shadow: 
        0 0 2px #9b5de5,
        0 0 4px #9b5de5,
        0 0 6px #a362ea;
  }
  
.neon-pink {
    text-shadow:
        0 0 2px #f15bb5,
        0 0 4px #f15bb5,
        0 0 6px #ff69b4;

    .underline {
        background: #f15bb5;
    }
}

.neon-blue {
    text-shadow:
        0 0 2px #00bbf9,
        0 0 4px #00f0ff,
        0 0 6px #00f0ff;

    .underline {
        background: #00bbf9;
    }
  }

.neon-purple {
    text-shadow:
        0 0 2px #9b5de5,
        0 0 4px #a362ea,
        0 0 6px #b388ff;

    .underline {
        background: #9b5de5;
    }
}

.neon-green {
    text-shadow:
        0 0 2px #00f5d4,
        0 0 4px #00ffcc,
        0 0 6px #00ffcc;

    .underline {
        background: #00f5d4;
    }
}

@media (max-width: 500px) {
    * {
        scroll-padding-top: 60px;
    }
}

@media (max-width: 1000px) {
   * {
    width: 100%;
   }
}

@media (min-width: 1000px) {
    body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden; /* prevent scrolling on body */
    }
    
    .main {
        height: 100vh;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }
    
    section {
        height: 100vh;
        scroll-snap-align: center;
    }
}