@import './variables.css';

.nav {
    min-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 50px;
    gap: 50px;
    background-color: var(--color-dark-purple);
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    color: white;
    font-size: 20px;
}

.nav button {
    border: none;
    background-color: inherit;
    color: white;
    font-size: 25px;
}

.nav button:hover {
    color: darkgrey;
}

.underline {
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background: white;
}

@media (max-width: 500px) {
    .nav {
        gap: 20px;
        padding: 30px;
        position: fixed;;
    }

    .menu-button {
        position: fixed;
        top: 12px;
        left: 12px;
        width: fit-content;
    }

    .menu-list {
        position: fixed;
        top: 60px;
        left: 0;
        padding: 0 12px 20px;
        width: 100vw;
        background-color: var(--color-dark-purple);
        flex-direction: column;
    }
}